@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw; /*não sei porque o guanabara botou isso*/
    height: 100vh; /*não sei porque o guanabara botou isso*/
}


header {
    padding: 20px;
}


section.normal {
    padding: 20px;
}

h1 {
    line-height: 1.5em;
}


p, h1, h2 {
    margin-bottom: 20px;

}


section.flex-content {
    padding: 20px;
    background-color: rgb(249, 249, 249);

    display: flex;
    flex-flow: column nowrap;
}


article.text-media {
    display: flex;
    flex-flow: row wrap;
;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse; /*vai ter uma quebra que quando quebrar vai subir*/

}

article > div.text {
    flex: 1 1 500px;

}

article > div.media {
    flex: 1 0 400px;

}

div.media > img {
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}