@charset "UTF-8";

/*
 ID (HTML) : # (CSS)
 CLASS (HTML) : . (CSS)
 */

body {
    background-color:#D7D3F5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3C3375;
}

h1#principal {
    text-align: center;
    background-color: #cac49cc9;
    color: #3C3375
}

h2 {
    color: #9d6058;
}

.basico {
    color: #3C3475
}

.intermediario {
    color: #CAC49C;
}

.avançado {
    color: #a19966;
}

.destaque {
    background-color: #cfcaa496 ;
}
