@charset "UTF-8";

@font-face {
    font-family: 'ComicNeueSansID';
    src: url('ComicNeueSansID.ttf')
    format('truetype');
}

:root {
    --cor0: #000000;
    --cor1: rgb(255, 255, 255);


    --fonte-extra: Arial, Verdana, Helvetica, sans-serif;
    --fonte-título: Impact, Verdana,sans-serif;
    --fonte-parágrafos: 'ComicNeueSansID', Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(0, 0, 0);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--fonte-título);
    color: var(--cor1);
    font-size: 4em;
    font-weight: lighter;
}

header > p {
    font-family: var(--fonte-extra);
    color: var(--cor1);
    padding: 12px;
    
}

header a {
    color: var(--cor1);
    text-decoration: none;
}

header a:visited {
    color: var(--cor1);
}

header a:active {
    color: var(--cor1);
    text-decoration: underline;
}

header a:hover {
    color: var(--cor1);
    text-decoration: underline;
}

section {
    font-family: var(--fonte-parágrafos);
    font-size: 2em;
    font-style: italic;

}
footer {
    background-color: var(--cor0);
    font-family: var(--fonte-extra);
    color: rgba(255, 255, 255, 0.751);
    text-align: center;
    padding: 8px;
    
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}

footer a:visited {
    color: var(--cor1);
}

footer a:active {
    color: var(--cor1);
    text-decoration: underline;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}

